<?php

# Settings
$settings = array (
	'username' => 'my_username',
	'password' => 'my_password',
);

# Load and run the application with the above settings
require_once ('vendor/autoload.php');
new seminarListings ($settings);

?>
