h3#previous {margin-top: 3em;}
div.jumplist {margin-bottom: 40px;}
p.specialmessage {font-weight: bold; font-style: italic; color: #603;}
div.details {margin-bottom: 2.4em;}
p.abstract {font-size: 1em;}
p.abstract.unavailable {font-style: italic;}
table.calendar {table-layout: fixed; width: calc(100% - 20px); max-width: calc(100% - 20px); margin-right: 20px;}
table.calendar td p {overflow: clip;}	/* Overly-long URLs will be chopped but work with copy and paste */
table.calendar td p.abstract {font-size: 0.87em;}
