h3#previous {margin-top: 3em;}
div.jumplist {margin-bottom: 40px;}
p.specialmessage {font-weight: bold; font-style: italic; color: #603;}
div.details {margin-bottom: 2.4em;}
p.smaller {font-size: 1em;}
