h3#previous {margin-top: 3em;}
div.jumplist {margin-bottom: 40px;}
p.specialmessage {font-weight: bold; font-style: italic; color: #603;}
div.details {margin-bottom: 2.4em;}
p.abstract {font-size: 1em;}
p.abstract.unavailable {font-style: italic;}
table.calendar {table-layout: fixed; width: 100%;}
table.calendar td p {overflow: clip;}	/* Overly-long URLs will be visually chopped but click / copy-and-paste will work as normal */
table.calendar td p.abstract {font-size: 0.87em;}
